swagger: '2.0'
info:
  title: Microsoft Azure Azure VMware Solution API
  description: Azure VMware Solution API
  version: 2020-07-17-preview
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - azure_auth:
      - user_impersonation
securityDefinitions:
  azure_auth:
    type: oauth2
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    flow: implicit
    description: Azure Active Directory OAuth2 Flow
    scopes:
      user_impersonation: impersonate your user account
tags:
  - name: Addons
  - name: Authorizations
    description: ''
  - name: Clusters
    description: ''
  - name: GlobalReachConnections
    description: ''
  - name: HcxEnterpriseSites
    description: ''
  - name: Locations
    description: ''
  - name: Operations
    description: ''
  - name: PrivateClouds
    description: ''
  - name: WorkloadNetworks
    description: ''
parameters:
  privateCloudName:
    name: privateCloudName
    in: path
    required: true
    type: string
    description: Name of the private cloud
    x-ms-parameter-location: method
  clusterName:
    name: clusterName
    in: path
    required: true
    type: string
    description: Name of the cluster in the private cloud
    x-ms-parameter-location: method
  hcxEnterpriseSiteName:
    name: hcxEnterpriseSiteName
    in: path
    required: true
    type: string
    description: Name of the HCX Enterprise Site in the private cloud
    x-ms-parameter-location: method
  addonName:
    name: addonName
    in: path
    required: true
    type: string
    description: Name of the addon for the private cloud
    x-ms-parameter-location: method
  authorizationName:
    name: authorizationName
    in: path
    required: true
    type: string
    description: Name of the ExpressRoute Circuit Authorization in the private cloud
    x-ms-parameter-location: method
  globalReachConnectionName:
    name: globalReachConnectionName
    in: path
    required: true
    type: string
    description: Name of the global reach connection in the private cloud
    x-ms-parameter-location: method
  segmentId:
    name: segmentId
    in: path
    required: true
    type: string
    description: NSX Segment identifier. Generally the same as the Segment's display name
    x-ms-parameter-location: method
  dhcpId:
    name: dhcpId
    in: path
    required: true
    type: string
    description: NSX DHCP identifier. Generally the same as the DHCP display name
    x-ms-parameter-location: method
  portMirroringId:
    name: portMirroringId
    in: path
    required: true
    type: string
    description: >-
      NSX Port Mirroring identifier. Generally the same as the Port Mirroring
      display name
    x-ms-parameter-location: method
  vmGroupId:
    name: vmGroupId
    in: path
    required: true
    type: string
    description: NSX VM Group identifier. Generally the same as the VM Group's display name
    x-ms-parameter-location: method
  virtualMachineId:
    name: virtualMachineId
    in: path
    required: true
    type: string
    description: NSX Virtual Machine identifier.
    x-ms-parameter-location: method
  gatewayId:
    name: gatewayId
    in: path
    required: true
    type: string
    description: NSX Gateway identifier. Generally the same as the Gateway's display name
    x-ms-parameter-location: method
  dnsServiceId:
    name: dnsServiceId
    in: path
    required: true
    type: string
    description: >-
      NSX DNS Service identifier. Generally the same as the DNS Service's
      display name
    x-ms-parameter-location: method
  dnsZoneId:
    name: dnsZoneId
    in: path
    required: true
    type: string
    description: NSX DNS Zone identifier. Generally the same as the DNS Zone's display name
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.AVS/operations:
    get:
      tags:
        - Operations
      description: Lists all of the available operations
      operationId: microsoftAzureOperationsList
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request has succeeded
          schema:
            $ref: '#/definitions/OperationList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Avs Operations
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkTrialAvailability:
    post:
      tags:
        - Locations
      description: Return trial status for subscription by region
      operationId: microsoftAzureLocationsChecktrialavailability
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - name: location
          in: path
          required: true
          type: string
          description: Azure region
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request has succeeded
          schema:
            $ref: '#/definitions/Trial'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Locations_CheckTrialAvailability:
          $ref: ./examples/Locations_CheckTrialAvailability.json
      summary: >-
        Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Avs Locations Location Checktrialavailability
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkQuotaAvailability:
    post:
      tags:
        - Locations
      description: Return quota for subscription by region
      operationId: microsoftAzureLocationsCheckquotaavailability
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - name: location
          in: path
          required: true
          type: string
          description: Azure region
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request has succeeded
          schema:
            $ref: '#/definitions/Quota'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Locations_CheckQuotaAvailability:
          $ref: ./examples/Locations_CheckQuotaAvailability.json
      summary: >-
        Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Avs Locations Location Checkquotaavailability
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds:
    get:
      operationId: microsoftAzurePrivatecloudsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - PrivateClouds
      summary: Microsoft Azure List Private Clouds In A Resource Group
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PrivateCloudList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_List:
          $ref: ./examples/PrivateClouds_List.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/privateClouds:
    get:
      operationId: microsoftAzurePrivatecloudsListinsubscription
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - PrivateClouds
      summary: Microsoft Azure List Private Clouds In A Subscription
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PrivateCloudList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_ListInSubscription:
          $ref: ./examples/PrivateClouds_ListInSubscription.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}
  : get:
      operationId: microsoftAzurePrivatecloudsGet
      tags:
        - PrivateClouds
      summary: Microsoft Azure Get A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PrivateCloud'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_Get:
          $ref: ./examples/PrivateClouds_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzurePrivatecloudsCreateorupdate
      x-ms-long-running-operation: true
      tags:
        - PrivateClouds
      summary: Microsoft Azure Create Or Update A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - name: privateCloud
          description: The private cloud
          in: body
          required: true
          schema:
            $ref: '#/definitions/PrivateCloud'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PrivateCloud'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/PrivateCloud'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_CreateOrUpdate:
          $ref: ./examples/PrivateClouds_CreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzurePrivatecloudsUpdate
      x-ms-long-running-operation: true
      tags:
        - PrivateClouds
      summary: Microsoft Azure Update A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - name: privateCloudUpdate
          description: The private cloud properties to be updated
          in: body
          required: true
          schema:
            $ref: '#/definitions/PrivateCloudUpdate'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PrivateCloud'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/PrivateCloud'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_Update:
          $ref: ./examples/PrivateClouds_Update.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzurePrivatecloudsDelete
      x-ms-long-running-operation: true
      tags:
        - PrivateClouds
      summary: Microsoft Azure Delete A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No private cloud to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_Delete:
          $ref: ./examples/PrivateClouds_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/rotateVcenterPassword
  : post:
      operationId: microsoftAzurePrivatecloudsRotatevcenterpassword
      tags:
        - PrivateClouds
      summary: Microsoft Azure Rotate The Vcenter Password
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      x-ms-long-running-operation: true
      responses:
        '202':
          description: The password rotation has started
        '204':
          description: The password rotation was successful
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_RotateVcenterPassword:
          $ref: ./examples/PrivateClouds_RotateVcenterPassword.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/rotateNsxtPassword
  : post:
      operationId: microsoftAzurePrivatecloudsRotatensxtpassword
      tags:
        - PrivateClouds
      summary: Microsoft Azure Rotate The Nsx T Manager Password
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      x-ms-long-running-operation: true
      responses:
        '202':
          description: The password rotation has started
        '204':
          description: The password rotation was successful
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_RotateNsxtPassword:
          $ref: ./examples/PrivateClouds_RotateNsxtPassword.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/clusters
  : get:
      operationId: microsoftAzureClustersList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - Clusters
      summary: Microsoft Azure List Clusters In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ClusterList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Clusters_List:
          $ref: ./examples/Clusters_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/clusters/{clusterName}
  : get:
      operationId: microsoftAzureClustersGet
      tags:
        - Clusters
      summary: Microsoft Azure Get A Cluster By Name In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/clusterName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Clusters_Get:
          $ref: ./examples/Clusters_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureClustersCreateorupdate
      x-ms-long-running-operation: true
      tags:
        - Clusters
      summary: Microsoft Azure Create Or Update A Cluster In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - name: privateCloudName
          in: path
          required: true
          type: string
          description: The name of the private cloud.
        - $ref: '#/parameters/clusterName'
        - name: cluster
          description: A cluster in the private cloud
          in: body
          required: true
          schema:
            $ref: '#/definitions/Cluster'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Cluster'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Clusters_CreateOrUpdate:
          $ref: ./examples/Clusters_CreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureClustersUpdate
      x-ms-long-running-operation: true
      tags:
        - Clusters
      summary: Microsoft Azure Update A Cluster In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/clusterName'
        - name: clusterUpdate
          description: The cluster properties to be updated
          in: body
          required: true
          schema:
            $ref: '#/definitions/ClusterUpdate'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Cluster'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Clusters_Update:
          $ref: ./examples/Clusters_Update.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureClustersDelete
      x-ms-long-running-operation: true
      tags:
        - Clusters
      summary: Microsoft Azure Delete A Cluster In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/clusterName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No cluster to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Clusters_Delete:
          $ref: ./examples/Clusters_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/listAdminCredentials
  : post:
      operationId: microsoftAzurePrivatecloudsListadmincredentials
      tags:
        - PrivateClouds
      summary: Microsoft Azure List The Admin Credentials For The Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AdminCredentials'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        PrivateClouds_ListAdminCredentials:
          $ref: ./examples/PrivateClouds_ListAdminCredentials.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/hcxEnterpriseSites
  : get:
      operationId: microsoftAzureHcxenterprisesitesList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - HcxEnterpriseSites
      summary: Microsoft Azure List Hcx Enterprise Sites In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/HcxEnterpriseSiteList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        HcxEnterpriseSites_List:
          $ref: ./examples/HcxEnterpriseSites_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/hcxEnterpriseSites/{hcxEnterpriseSiteName}
  : get:
      operationId: microsoftAzureHcxenterprisesitesGet
      tags:
        - HcxEnterpriseSites
      summary: Microsoft Azure Get An Hcx Enterprise Site By Name In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/hcxEnterpriseSiteName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/HcxEnterpriseSite'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        HcxEnterpriseSites_Get:
          $ref: ./examples/HcxEnterpriseSites_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureHcxenterprisesitesCreateorupdate
      tags:
        - HcxEnterpriseSites
      summary: Microsoft Azure Create Or Update An Hcx Enterprise Site In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - name: privateCloudName
          in: path
          required: true
          type: string
          description: The name of the private cloud.
        - $ref: '#/parameters/hcxEnterpriseSiteName'
        - name: hcxEnterpriseSite
          description: The HCX Enterprise Site
          in: body
          required: true
          schema:
            $ref: '#/definitions/HcxEnterpriseSite'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful update
          schema:
            $ref: '#/definitions/HcxEnterpriseSite'
        '201':
          description: successful create
          schema:
            $ref: '#/definitions/HcxEnterpriseSite'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        HcxEnterpriseSites_CreateOrUpdate:
          $ref: ./examples/HcxEnterpriseSites_CreateOrUpdate.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureHcxenterprisesitesDelete
      tags:
        - HcxEnterpriseSites
      summary: Microsoft Azure Delete An Hcx Enterprise Site In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/hcxEnterpriseSiteName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '204':
          description: No Content. No HCX Enterprise Site to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        HcxEnterpriseSites_Delete:
          $ref: ./examples/HcxEnterpriseSites_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/authorizations
  : get:
      operationId: microsoftAzureAuthorizationsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - Authorizations
      summary: Microsoft Azure List Expressroute Circuit Authorizations In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ExpressRouteAuthorizationList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Authorizations_List:
          $ref: ./examples/Authorizations_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/authorizations/{authorizationName}
  : get:
      operationId: microsoftAzureAuthorizationsGet
      tags:
        - Authorizations
      summary: Microsoft Azure Get An Expressroute Circuit Authorization By Name In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/authorizationName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ExpressRouteAuthorization'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Authorizations_Get:
          $ref: ./examples/Authorizations_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureAuthorizationsCreateorupdate
      x-ms-long-running-operation: true
      tags:
        - Authorizations
      summary: >-
        Microsoft Azure Create Or Update An Expressroute Circuit Authorization In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - name: privateCloudName
          in: path
          required: true
          type: string
          description: The name of the private cloud.
        - $ref: '#/parameters/authorizationName'
        - name: authorization
          description: An ExpressRoute Circuit Authorization
          in: body
          required: true
          schema:
            $ref: '#/definitions/ExpressRouteAuthorization'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ExpressRouteAuthorization'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/ExpressRouteAuthorization'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Authorizations_CreateOrUpdate:
          $ref: ./examples/Authorizations_CreateOrUpdate.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureAuthorizationsDelete
      x-ms-long-running-operation: true
      tags:
        - Authorizations
      summary: Microsoft Azure Delete An Expressroute Circuit Authorization In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/authorizationName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No ExpressRoute Circuit Authorization to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Authorizations_Delete:
          $ref: ./examples/Authorizations_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/globalReachConnections
  : get:
      operationId: microsoftAzureGlobalreachconnectionsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - GlobalReachConnections
      summary: Microsoft Azure List Global Reach Connections In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/GlobalReachConnectionList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        GlobalReachConnections_List:
          $ref: ./examples/GlobalReachConnections_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/globalReachConnections/{globalReachConnectionName}
  : get:
      operationId: microsoftAzureGlobalreachconnectionsGet
      tags:
        - GlobalReachConnections
      summary: Microsoft Azure Get A Global Reach Connection By Name In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/globalReachConnectionName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/GlobalReachConnection'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        GlobalReachConnections_Get:
          $ref: ./examples/GlobalReachConnections_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureGlobalreachconnectionsCreateorupdate
      x-ms-long-running-operation: true
      tags:
        - GlobalReachConnections
      summary: Microsoft Azure Create Or Update A Global Reach Connection In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - name: privateCloudName
          in: path
          required: true
          type: string
          description: The name of the private cloud.
        - $ref: '#/parameters/globalReachConnectionName'
        - name: globalReachConnection
          description: A global reach connection in the private cloud
          in: body
          required: true
          schema:
            $ref: '#/definitions/GlobalReachConnection'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/GlobalReachConnection'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/GlobalReachConnection'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        GlobalReachConnections_CreateOrUpdate:
          $ref: ./examples/GlobalReachConnections_CreateOrUpdate.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureGlobalreachconnectionsDelete
      x-ms-long-running-operation: true
      tags:
        - GlobalReachConnections
      summary: Microsoft Azure Delete A Global Reach Connection In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/globalReachConnectionName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No global reach connection to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        GlobalReachConnections_Delete:
          $ref: ./examples/GlobalReachConnections_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments
  : get:
      operationId: microsoftAzureWorkloadnetworksListsegments
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Segments In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkSegmentsList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListSegments:
          $ref: ./examples/WorkloadNetworks_ListSegments.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments/{segmentId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetsegment
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Segment By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/segmentId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkSegment'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetSegment:
          $ref: ./examples/WorkloadNetworks_GetSegments.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureWorkloadnetworksCreatesegments
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create A Segment By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/segmentId'
        - name: workloadNetworkSegment
          description: NSX Segment
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkSegment'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkSegment'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/WorkloadNetworkSegment'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_CreateSegments:
          $ref: ./examples/WorkloadNetworks_CreateSegments.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureWorkloadnetworksUpdatesegments
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create Or Update A Segment By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/segmentId'
        - name: workloadNetworkSegment
          description: NSX Segment
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkSegment'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkSegment'
        '202':
          description: Accepted. The patch will complete asynchronously
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_UpdateSegments:
          $ref: ./examples/WorkloadNetworks_UpdateSegments.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureWorkloadnetworksDeletesegment
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Delete A Segment By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/segmentId'
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No segment to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_DeleteSegment:
          $ref: ./examples/WorkloadNetworks_DeleteSegments.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dhcpConfigurations
  : get:
      operationId: microsoftAzureWorkloadnetworksListdhcp
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Dhcp In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcpList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListDhcp:
          $ref: ./examples/WorkloadNetworks_ListDhcpConfigurations.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dhcpConfigurations/{dhcpId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetdhcp
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get Dhcp By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/dhcpId'
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcp'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetDhcp:
          $ref: ./examples/WorkloadNetworks_GetDhcpConfigurations.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureWorkloadnetworksCreatedhcp
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create Dhcp By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dhcpId'
        - name: workloadNetworkDhcp
          description: NSX DHCP
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcp'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcp'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcp'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_CreateDhcp:
          $ref: ./examples/WorkloadNetworks_CreateDhcpConfigurations.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureWorkloadnetworksUpdatedhcp
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create Or Update Dhcp By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dhcpId'
        - name: workloadNetworkDhcp
          description: NSX DHCP
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcp'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDhcp'
        '202':
          description: Accepted. The patch will complete asynchronously
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_UpdateDhcp:
          $ref: ./examples/WorkloadNetworks_UpdateDhcpConfigurations.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureWorkloadnetworksDeletedhcp
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Delete Dhcp By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dhcpId'
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No DHCP configuration to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_DeleteDhcp:
          $ref: ./examples/WorkloadNetworks_DeleteDhcpConfigurations.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/gateways
  : get:
      operationId: microsoftAzureWorkloadnetworksListgateways
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Gateways In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkGatewayList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListGateways:
          $ref: ./examples/WorkloadNetworks_ListGateways.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/gateways/{gatewayId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetgateway
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Gateway By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/gatewayId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkGateway'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetGateway:
          $ref: ./examples/WorkloadNetworks_GetGateway.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles
  : get:
      operationId: microsoftAzureWorkloadnetworksListportmirroring
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Port Mirroring Profiles In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroringList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListPortMirroring:
          $ref: ./examples/WorkloadNetworks_ListPortMirroringProfiles.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles/{portMirroringId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetportmirroring
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Port Mirroring Profile By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/portMirroringId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroring'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetPortMirroring:
          $ref: ./examples/WorkloadNetworks_GetPortMirroringProfiles.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureWorkloadnetworksCreateportmirroring
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: >-
        Microsoft Azure Create A Port Mirroring Profile By Id In A Private Cloud Workload Network
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/portMirroringId'
        - name: workloadNetworkPortMirroring
          description: NSX port mirroring
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroring'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroring'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroring'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_CreatePortMirroring:
          $ref: ./examples/WorkloadNetworks_CreatePortMirroringProfiles.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureWorkloadnetworksUpdateportmirroring
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: >-
        Microsoft Azure Create Or Update A Port Mirroring Profile By Id In A Private Cloud Workload Network
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/portMirroringId'
        - name: workloadNetworkPortMirroring
          description: NSX port mirroring
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroring'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkPortMirroring'
        '202':
          description: Accepted. The patch will complete asynchronously
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_UpdatePortMirroring:
          $ref: ./examples/WorkloadNetworks_UpdatePortMirroringProfiles.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureWorkloadnetworksDeleteportmirroring
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: >-
        Microsoft Azure Delete A Port Mirroring Profile By Id In A Private Cloud Workload Network
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/portMirroringId'
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No port mirroring profile to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_DeletePortMirroring:
          $ref: ./examples/WorkloadNetworks_DeletePortMirroringProfiles.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups
  : get:
      operationId: microsoftAzureWorkloadnetworksListvmgroups
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Vm Groups In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroupsList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListVMGroups:
          $ref: ./examples/WorkloadNetworks_ListVMGroups.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups/{vmGroupId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetvmgroup
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Vm Group By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/vmGroupId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroup'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetVMGroup:
          $ref: ./examples/WorkloadNetworks_GetVMGroups.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureWorkloadnetworksCreatevmgroup
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create A Vm Group By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/vmGroupId'
        - name: workloadNetworkVMGroup
          description: NSX VM Group
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroup'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroup'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroup'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_CreateVMGroup:
          $ref: ./examples/WorkloadNetworks_CreateVMGroups.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureWorkloadnetworksUpdatevmgroup
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create Or Update A Vm Group By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/vmGroupId'
        - name: workloadNetworkVMGroup
          description: NSX VM Group
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroup'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVMGroup'
        '202':
          description: Accepted. The patch will complete asynchronously
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_UpdateVMGroup:
          $ref: ./examples/WorkloadNetworks_UpdateVMGroups.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureWorkloadnetworksDeletevmgroup
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Delete A Vm Group By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/vmGroupId'
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No VM group to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_DeleteVMGroup:
          $ref: ./examples/WorkloadNetworks_DeleteVMGroups.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/virtualMachines
  : get:
      operationId: microsoftAzureWorkloadnetworksListvirtualmachines
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Virtual Machines In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVirtualMachinesList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListVirtualMachines:
          $ref: ./examples/WorkloadNetworks_ListVirtualMachines.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/virtualMachines/{virtualMachineId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetvirtualmachine
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Virtual Machine By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/virtualMachineId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkVirtualMachine'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetVirtualMachine:
          $ref: ./examples/WorkloadNetworks_GetVirtualMachine.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsServices
  : get:
      operationId: microsoftAzureWorkloadnetworksListdnsservices
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Dns Services In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsServicesList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListDnsServices:
          $ref: ./examples/WorkloadNetworks_ListDnsServices.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsServices/{dnsServiceId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetdnsservice
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Dns Service By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dnsServiceId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsService'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetDnsService:
          $ref: ./examples/WorkloadNetworks_GetDnsServices.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureWorkloadnetworksCreatednsservice
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create A Dns Service By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dnsServiceId'
        - name: workloadNetworkDnsService
          description: NSX DNS Service
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsService'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsService'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsService'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_CreateDnsService:
          $ref: ./examples/WorkloadNetworks_CreateDnsServices.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureWorkloadnetworksUpdatednsservice
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: >-
        Microsoft Azure Create Or Update A Dns Service By Id In A Private Cloud Workload Network
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dnsServiceId'
        - name: workloadNetworkDnsService
          description: NSX DNS Service
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsService'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsService'
        '202':
          description: Accepted. The patch will complete asynchronously
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_UpdateDnsService:
          $ref: ./examples/WorkloadNetworks_UpdateDnsServices.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureWorkloadnetworksDeletednsservice
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Delete A Dns Service By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/dnsServiceId'
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No VM group to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_DeleteDnsService:
          $ref: ./examples/WorkloadNetworks_DeleteDnsServices.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsZones
  : get:
      operationId: microsoftAzureWorkloadnetworksListdnszones
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure List Of Dns Zones In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZonesList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_ListDnsZones:
          $ref: ./examples/WorkloadNetworks_ListDnsZones.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/dnsZones/{dnsZoneId}
  : get:
      operationId: microsoftAzureWorkloadnetworksGetdnszone
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Get A Dns Zone By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dnsZoneId'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZone'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_GetDnsZone:
          $ref: ./examples/WorkloadNetworks_GetDnsZones.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureWorkloadnetworksCreatednszone
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create A Dns Zone By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dnsZoneId'
        - name: workloadNetworkDnsZone
          description: NSX DNS Zone
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZone'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZone'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZone'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_CreateDnsZone:
          $ref: ./examples/WorkloadNetworks_CreateDnsZones.json
      description: Needs a more full description created.
    patch:
      operationId: microsoftAzureWorkloadnetworksUpdatednszone
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Create Or Update A Dns Zone By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/dnsZoneId'
        - name: workloadNetworkDnsZone
          description: NSX DNS Zone
          in: body
          required: true
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZone'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/WorkloadNetworkDnsZone'
        '202':
          description: Accepted. The patch will complete asynchronously
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_UpdateDnsZone:
          $ref: ./examples/WorkloadNetworks_UpdateDnsZones.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureWorkloadnetworksDeletednszone
      x-ms-long-running-operation: true
      tags:
        - WorkloadNetworks
      summary: 'Microsoft Azure Delete A Dns Zone By Id In A Private Cloud Workload Network'
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
        - $ref: '#/parameters/dnsZoneId'
        - $ref: '#/parameters/privateCloudName'
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No VM group to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        WorkloadNetworks_DeleteDnsZone:
          $ref: ./examples/WorkloadNetworks_DeleteDnsZones.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/addons
  : get:
      operationId: microsoftAzureAddonsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
        - Addons
      summary: Microsoft Azure List Addons In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AddonList'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Addons_List:
          $ref: ./examples/Addons_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/addons/{addonName}
  : get:
      operationId: microsoftAzureAddonsGet
      tags:
        - Addons
      summary: Microsoft Azure Get An Addon By Name In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/addonName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Addon'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Addons_Get:
          $ref: ./examples/Addons_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureAddonsCreateorupdate
      x-ms-long-running-operation: true
      tags:
        - Addons
      summary: Microsoft Azure Create Or Update A Addon In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - name: privateCloudName
          in: path
          required: true
          type: string
          description: The name of the private cloud.
        - $ref: '#/parameters/addonName'
        - name: addon
          description: A addon in the private cloud
          in: body
          required: true
          schema:
            $ref: '#/definitions/Addon'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Addon'
        '201':
          description: accepted operation
          schema:
            $ref: '#/definitions/Addon'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Addons_CreateOrUpdate:
          $ref: ./examples/Addons_CreateOrUpdate.json
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureAddonsDelete
      x-ms-long-running-operation: true
      tags:
        - Addons
      summary: Microsoft Azure Delete A Addon In A Private Cloud
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/privateCloudName'
        - $ref: '#/parameters/addonName'
        - $ref: >-
            ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No addon to delete
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        Addons_Delete:
          $ref: ./examples/Addons_Delete.json
      description: Needs a more full description created.
definitions:
  Trial:
    description: Subscription trial availability
    properties:
      status:
        description: Trial status
        type: string
        enum:
          - TrialAvailable
          - TrialUsed
          - TrialDisabled
        readOnly: true
        x-ms-enum:
          name: TrialStatus
          modelAsString: true
      availableHosts:
        description: Number of trial hosts available
        type: integer
        format: int32
        readOnly: true
  Quota:
    description: Subscription quotas
    properties:
      hostsRemaining:
        description: Remaining hosts quota by sku type
        type: object
        readOnly: true
        additionalProperties:
          type: integer
          format: int32
          readOnly: true
      quotaEnabled:
        description: Host quota is active for current subscription
        type: string
        enum:
          - Enabled
          - Disabled
        readOnly: true
        x-ms-enum:
          name: QuotaEnabled
          modelAsString: true
  Resource:
    description: The core properties of ARM resources
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  TrackedResource:
    description: The resource model definition for a ARM tracked top level resource
    allOf:
      - $ref: '#/definitions/Resource'
    properties:
      location:
        type: string
        description: Resource location
      tags:
        description: Resource tags
        $ref: '#/definitions/ResourceTags'
  ResourceTags:
    description: Resource tags
    type: object
    additionalProperties:
      type: string
    x-ms-mutability:
      - read
      - create
      - update
  ProxyResource:
    description: The resource model definition for a ARM proxy resource
    allOf:
      - $ref: '#/definitions/Resource'
    properties: {}
  CloudError:
    x-ms-external: true
    properties:
      error:
        description: An error returned by the API
        $ref: >-
          ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
    description: API error response
  OperationList:
    description: Pageable list of operations
    properties:
      value:
        description: List of operations
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/Operation'
      nextLink:
        description: URL to get the next page if any
        type: string
        readOnly: true
  Operation:
    description: A REST API operation
    type: object
    properties:
      name:
        description: Name of the operation being performed on this object
        type: string
        readOnly: true
      display:
        description: Contains the localized display information for this operation
        readOnly: true
        properties:
          provider:
            description: Localized friendly form of the resource provider name
            type: string
            readOnly: true
          resource:
            description: >-
              Localized friendly form of the resource type related to this
              operation
            type: string
            readOnly: true
          operation:
            description: Localized friendly name for the operation
            type: string
            readOnly: true
          description:
            description: Localized friendly description for the operation
            type: string
            readOnly: true
      isDataAction:
        description: >-
          Gets or sets a value indicating whether the operation is a data action
          or not
        type: boolean
      origin:
        description: Origin of the operation
        type: string
      properties:
        $ref: '#/definitions/OperationProperties'
        description: Properties of the operation
  OperationProperties:
[...]
