swagger: '2.0'
info:
  title: Microsoft Azure Microsoft.Easm
  description: REST APIs for Easm
  version: 2023-04-01-preview
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - azure_auth:
      - user_impersonation
securityDefinitions:
  azure_auth:
    type: oauth2
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    flow: implicit
    description: Azure Active Directory OAuth2 Flow
    scopes:
      user_impersonation: impersonate your user account
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Easm/workspaces:
    get:
      tags:
        - Workspaces
      description: Returns a list of workspaces under the given subscription.
      operationId: microsoftAzureWorkspacesListbysubscription
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: List of workspaces.
          schema:
            $ref: '#/definitions/WorkspaceResourceList'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Workspaces:
          $ref: ./examples/Workspaces_ListBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Easm Workspaces
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces:
    get:
      tags:
        - Workspaces
      description: Returns a list of workspaces in the given resource group.
      operationId: microsoftAzureWorkspacesListbyresourcegroup
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: List of workspaces.
          schema:
            $ref: '#/definitions/WorkspaceResourceList'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Workspaces:
          $ref: ./examples/Workspaces_ListByResourceGroup.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces/{workspaceName}:
    get:
      tags:
        - Workspaces
      description: Returns a workspace with the given name.
      operationId: microsoftAzureWorkspacesGet
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Workspace details.
          schema:
            $ref: '#/definitions/WorkspaceResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Workspaces:
          $ref: ./examples/Workspaces_Get.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename
    put:
      tags:
        - Workspaces
      description: Create or update a Workspace.
      operationId: microsoftAzureWorkspacesCreateandupdate
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - name: WorkspaceResource
          description: Workspace details.
          in: body
          schema:
            $ref: '#/definitions/WorkspaceResource'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/WorkspaceResource'
        '201':
          description: Long running operation.
          schema:
            $ref: '#/definitions/WorkspaceResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Workspaces:
          $ref: ./examples/Workspaces_CreateAndUpdate.json
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename
    patch:
      tags:
        - Workspaces
      description: Update a Workspace.
      operationId: microsoftAzureWorkspacesUpdate
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - name: WorkspacePatchResource
          description: Workspace patch details.
          in: body
          schema:
            $ref: '#/definitions/WorkspacePatchResource'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/WorkspaceResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Workspaces:
          $ref: ./examples/Workspaces_Update.json
      summary: >-
        Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename
    delete:
      tags:
        - Workspaces
      description: Delete a Workspace.
      operationId: microsoftAzureWorkspacesDelete
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
      responses:
        '202':
          description: The Workspace will be deleted asynchronously.
        '204':
          description: The Workspace does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Workspaces:
          $ref: ./examples/Workspaces_Delete.json
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces/{workspaceName}/labels
  : get:
      tags:
        - Labels
      description: Returns a list of labels in the given workspace.
      operationId: microsoftAzureLabelsListbyworkspace
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Lists of labels.
          schema:
            $ref: '#/definitions/LabelResourceList'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_ListByWorkspace.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename Labels
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces/{workspaceName}/labels/{labelName}
  : get:
      tags:
        - Labels
      description: Returns a label in the given workspace.
      operationId: microsoftAzureLabelsGetbyworkspace
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - $ref: '#/parameters/LabelNameParameter'
      responses:
        '200':
          description: Label details.
          schema:
            $ref: '#/definitions/LabelResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_GetByWorkspace.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename Labels Labelname
    put:
      tags:
        - Labels
      description: Create or update a Label.
      operationId: microsoftAzureLabelsCreateandupdate
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - $ref: '#/parameters/LabelNameParameter'
        - name: LabelResource
          description: Label details.
          in: body
          schema:
            $ref: '#/definitions/LabelResource'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/LabelResource'
        '201':
          description: Long running operation.
          schema:
            $ref: '#/definitions/LabelResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_CreateAndUpdate.json
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename Labels Labelname
    patch:
      tags:
        - Labels
      description: Update a Label.
      operationId: microsoftAzureLabelsUpdate
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - $ref: '#/parameters/LabelNameParameter'
        - name: LabelPatchResource
          description: Label patch details.
          in: body
          schema:
            $ref: '#/definitions/LabelPatchResource'
      responses:
        '200':
          description: Successful.
          schema:
            $ref: '#/definitions/LabelResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_Update.json
      summary: >-
        Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename Labels Labelname
    delete:
      tags:
        - Labels
      description: Delete a Label.
      operationId: microsoftAzureLabelsDelete
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - $ref: '#/parameters/LabelNameParameter'
      responses:
        '202':
          description: The Label will be deleted asynchronously.
        '204':
          description: The Label does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_Delete.json
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename Labels Labelname
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces/{workspaceName}/tasks/{taskId}
  : get:
      tags:
        - Tasks
      description: Returns a task in the given workspace.
      operationId: microsoftAzureTasksGetbyworkspace
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: '#/parameters/WorkspaceNameParameter'
        - $ref: '#/parameters/TaskIdParameter'
      responses:
        '200':
          description: Task details.
          schema:
            $ref: '#/definitions/TaskResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Tasks:
          $ref: ./examples/Tasks_GetByWorkspace.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Easm Workspaces Workspacename Tasks Taskid
  /providers/Microsoft.Easm/operations:
    get:
      tags:
        - Operations
      description: Returns list of operations.
      operationId: microsoftAzureOperationsList
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation details.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Easm Operations
definitions:
  ResourceState:
    description: Resources provisioning states.
    enum:
      - NotSpecified
      - Accepted
      - Creating
      - Succeeded
      - Failed
      - Canceled
      - ProvisioningResources
      - InstallingApplication
      - ConfiguringApplication
      - MigratingApplicationData
      - RunningValidations
      - CreatingArtifacts
      - DeletingArtifacts
    type: string
    x-ms-enum:
      name: ResourceState
      modelAsString: true
  ResourceBaseProperties:
    description: Resource base properties.
    type: object
    properties:
      provisioningState:
        description: Resource provisioning state.
        $ref: '#/definitions/ResourceState'
        readOnly: true
  WorkspaceResourceProperties:
    description: Workspace properties.
    type: object
    properties:
      dataPlaneEndpoint:
        description: Data plane endpoint.
        type: string
        readOnly: true
    allOf:
      - $ref: '#/definitions/ResourceBaseProperties'
  LabelResourceProperties:
    description: Label properties.
    type: object
    properties:
      displayName:
        description: Label display name.
        type: string
      color:
        description: Label color.
        type: string
    allOf:
      - $ref: '#/definitions/ResourceBaseProperties'
  WorkspaceResource:
    type: object
    description: Workspace details.
    properties:
      properties:
        description: Workspace properties.
        $ref: '#/definitions/WorkspaceResourceProperties'
        x-ms-client-flatten: true
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    x-ms-azure-resource: true
  WorkspacePatchResource:
    type: object
    description: Workspace patch properties.
    properties:
      tags:
        description: resource tags.
        type: object
        readOnly: false
        additionalProperties:
          type: string
      systemData:
        $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
  WorkspaceResourceList:
    description: The list of workspaces.
    type: object
    properties:
      nextLink:
        description: The link used to get the next page of Workspace list.
        type: string
      value:
        description: The list of workspaces.
        type: array
        items:
          $ref: '#/definitions/WorkspaceResource'
  LabelResource:
    type: object
    description: Label details
    properties:
      properties:
        description: Label properties
        $ref: '#/definitions/LabelResourceProperties'
        x-ms-client-flatten: true
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    x-ms-azure-resource: true
  LabelPatchResource:
    type: object
    description: Label patch properties
    allOf:
      - $ref: '#/definitions/LabelResource'
  LabelResourceList:
    type: object
    description: The list of labels.
    properties:
      value:
        type: array
        description: The list of labels.
        items:
          $ref: '#/definitions/LabelResource'
      nextLink:
        type: string
        description: The link used to get the next page of Label list.
  TaskResourceProperties:
    description: Task properties.
    type: object
    properties:
      startedAt:
        description: The time the task started
        type: string
      completedAt:
        description: The time the task completed
        type: string
      lastPolledAt:
        description: The last time the task was polled
        type: string
      state:
        description: the state the task is in
        type: string
      phase:
        description: the phase the task is in
        type: string
      reason:
        description: >-
          The reason the task was moved into its current state, if the task
          wasn't completed.
        type: string
      metadata:
        description: >-
          The reason the task was moved into its current state, if the task
          wasn't completed.
        type: object
    allOf:
      - $ref: '#/definitions/ResourceBaseProperties'
  TaskResource:
    type: object
    description: Task details
    properties:
      properties:
        description: Task properties
        $ref: '#/definitions/TaskResourceProperties'
        x-ms-client-flatten: true
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    x-ms-azure-resource: true
parameters:
  WorkspaceNameParameter:
    name: workspaceName
    in: path
    required: true
    type: string
    description: The name of the Workspace.
    x-ms-parameter-location: method
  LabelNameParameter:
    name: labelName
    in: path
    required: true
    type: string
    description: The name of the Label.
    x-ms-parameter-location: method
  TaskIdParameter:
    name: taskId
    in: path
    required: true
    type: string
    description: The id of the Task.
    x-ms-parameter-location: method
tags:
  - name: Labels
  - name: Operations
  - name: Tasks
  - name: Workspaces
